<div class="page-header">
<h1>Message Delivery detail</h1>
</div>

<p>
  <b>Audio file:</b>
  <%= @message_delivery.audio_file.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @message_delivery.contact.name %>
</p>

<%= link_to 'Edit', edit_message_delivery_path(@message_delivery), class: 'btn' %>
<%= link_to 'Back', message_deliveries_path, class: 'btn' %>
